<div class="row columns">
<%= render "pages/welcome" %>
</div>
<hr />
<div class="row columns">
<%= render "pages/tickets" %>
</div>
<hr />
<div class="row">
<%= render "pages/contact_us" %>
</div>
<hr />
<div class="row columns">
<%= render "pages/become_a_vendor" %>
</div>
<hr />
<div class="row columns">
<%= render "pages/faq" %>
</div>
<hr />
<div class="row columns">
<%= render "pages/blog" %>
</div>
<hr />
<div class="row columns">
<%= render "pages/sponsors" %>
</div>
<hr />
<div class="row columns">
<%= render "pages/we_are_here" %>
</div>
