<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>New Consiousness Expo | Welcome</title>
    <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
<link href='https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css' rel='stylesheet' type='text/css'>

<style>

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
  background:#F9F9F9;
  padding:25px;
  margin:50px 0;
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 400;
}

#contact h4 {
  margin:5px 0 15px;
  display:block;
  font-size:13px;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
  width:100%;
  border:1px solid #CCC;
  background:#FFF;
  margin:0 0 5px;
  padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
  -webkit-transition:border-color 0.3s ease-in-out;
  -moz-transition:border-color 0.3s ease-in-out;
  transition:border-color 0.3s ease-in-out;
  border:1px solid #AAA;
}

#contact textarea {
  height:100px;
  max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
  cursor:pointer;
  width:100%;
  border:none;
  background:#0CF;
  color:#FFF;
  margin:0 0 5px;
  padding:10px;
  font-size:15px;
}

#contact button[type="submit"]:hover {
  background:#09C;
  -webkit-transition:background 0.3s ease-in-out;
  -moz-transition:background 0.3s ease-in-out;
  transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
  outline:0;
  border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}

</style>
</head>
<body>



<script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-2195009-2', 'auto');
      ga('send', 'pageview');

      ga('create', 'UA-2195009-27', 'auto', {name: "foundation"});
      ga('foundation.send', 'pageview');

</script>
<style>
      /*icon styles*/
      .fi-social-facebook {
        color: dodgerblue;
        font-size: 2rem;
      }
      .fi-social-youtube {
        color: red;
        font-size: 2rem;
      }
      .fi-social-pinterest {
        color: darkred;
        font-size: 2rem;
      }
      i.fi-social-instagram {
        color: brown;
        font-size: 2rem;
      }
      i.fi-social-tumblr {
        color: navy;
        font-size: 2rem;
      }
      .fi-social-twitter {
        color: skyblue;
        font-size: 2rem;
      }
    
    </style>
<header>

<div class="top-bar">
<div class="top-bar-left">
<ul class="menu">
  <li><strong><a href="/">Empower You Expo</a></strong></li>
  <li><a href="#contact">Contact Us</a></li>
</ul>
</div>
<div class="top-bar-right">
  <ul class="menu">
  <li><a href="#faqs">FAQ's</a></li>
    <li><a href="#blog">Blog</a></li>
    <li><a href="#become_a_vendor">Become a Vendor</a></li>
  </ul>
</div>
</div>


<br>
</header>
<br>
<div class="row">
<div class="medium-12 columns">
  <%= yield %>
<p></p>
</div>
</div>
<hr>
<div class="row column">
<h4 style="margin: 0;" class="text-center">LEARN AND KNOW MORE</h4>
</div>
<hr>
<div class="row">
<div class="large-8 columns" style="border-right: 1px solid #E3E5E8;">
<article>
<div class="row">
<div class="large-6 columns">
<p>
  <img class="scaledImageFitWidth img" src="https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-0/p280x280/23843269_155111295103868_1243712161511457368_n.jpg?oh=f9f8f7443a8226345b88fd3e4846d826&amp;oe=5AD7D2B0" alt="New Consciousness Expo &amp; Events Utah's photo.">
</p>
</div>
<div class="large-6 columns">
<h5>New Consciousness Expo is coming!</h5>
<p>
<span><i class="fi-torso"> By Tina &nbsp;&nbsp;</i></span>
<span><i class="fi-calendar"> 11/28/17 &nbsp;&nbsp;</i></span>
<!-- <span><i class="fi-comments"> 6 comments</i></span> -->
</p>
<p>This fantastic event will take place at the South Towne Expo Center (<a href="https://www.google.com/search?q=South+Towne+Expo+Center&ie=utf-8&oe=utf-8&client=firefox-b-ab">link</a>) from April 27th to 28th. If you would like to request more information about this event, vendors, featured guests, or you have any questions, please use the contact form to get ahold of us. 
</p><p>
<strong>We look forward to seeing you there!</strong><br />
Be sure to follow us on <a href="https://www.facebook.com/events/317858671954424/" target="_blank">social media</a> and keep checking back for more information.
Sign up to be a vendor here!
</p><p>
New Consciousness Expo
April 27th – 28th, 2017</p>
</div>
</div>

<hr>
<div class="row" id="faqs">
<div class="large-6 columns">
<p>    <%= image_tag("empower_you.png", alt: "event logo")%>
</p>
</div>
<div class="large-6 columns">
<h5 >FAQ</h5>
<p>
<span><i class="fi-torso"> By Tina &nbsp;&nbsp;</i></span>
<span><i class="fi-calendar"> 11/28/17 &nbsp;&nbsp;</i></span>
<!-- <span><i class="fi-comments"> 6 comments</i></span> -->
</p>
<h6><strong>How much is admission?</strong></h6>
<p>Tickets are coming soon!</p>

<h6><strong>Do vendors take cash, card , or both?</strong></h6>
<p>Our vendors will be accepting both cash and major credit cards!</p>
</div>
</div>
<hr>
</article>
</div>
<div class="large-4 columns">
<aside>
<br>
<div class="row column">
<p class="lead">Thank You Sponsors!</p>
<p>We love our sponsors. Do you want to join them? Sponsor this amazing event and benefit from exposure to thousands in print, digital, tv, radio and in person at the event. To join, just fill out the contact form below.</p>
</div>
<br>
<div class="row column" id="become_a_vendor">
<p class="lead">Become a Vendor</p>
<p>Vendors have a great opportunity.  Leave your contact info in the form below to learn more.</p>
</div>
<br>
<hr />
<div class="row column">
  <div class="container">  
    <form id="contact" action="" method="post">
      <h3>Quick Contact</h3>
      <h4>Contact us today.  We would love to hear from you.</h4>
      <fieldset>
        <input placeholder="Your name" type="text" tabindex="1" required autofocus>
      </fieldset>
      <fieldset>
        <input placeholder="Your Email Address" type="email" tabindex="2" required>
      </fieldset>
      <fieldset>
        <input placeholder="Your Phone Number" type="tel" tabindex="3" required>
      </fieldset>
      <fieldset>
        <input placeholder="Your Web Site starts with http://" type="url" tabindex="4" required>
      </fieldset>
      <fieldset>
        <textarea placeholder="Type your Message Here...." tabindex="5" required></textarea>
      </fieldset>
      <fieldset>
        <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
      </fieldset>
    </form>
  </div>
</div>
<br>
<hr />
<div class="row column">
<p class="lead"  id="blog">BLOG</p>
<div class="media-object">
<div class="media-object-section">
<img class="thumbnail" src="https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-1/p200x200/19397017_10154414852391619_5215932300125109942_n.jpg?oh=897bb7a855c9a949e0b47d3c6bef104e&oe=5A8945EB" width="100" height="100">
</div>
<div class="media-object-section">
<h5><%= link_to "Volunteers of America, Utah", "https://www.facebook.com/voaut/posts/10154757895096619", target: "_blank" %></h5>
</div>
 </div>
<div class="media-object">
<div class="media-object-section">
<img class="thumbnail" src="https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-1/p200x200/19397017_10154414852391619_5215932300125109942_n.jpg?oh=897bb7a855c9a949e0b47d3c6bef104e&oe=5A8945EB" width="100" height="100">
</div>
<div class="media-object-section">
<h5><%= link_to "Volunteers of America, Utah", "https://www.facebook.com/voaut/posts/10154757895096619", target: "_blank" %></h5>
</div>
</div>
</div>
</aside>
</div>
</div>
<footer>
<div class="row expanded callout secondary">
<div class="large-4 columns">
<h5>FLICKR IMAGES</h5>
<div class="row small-up-4">
<div class="column"><img class="thumbnail" src="https://placehold.it/75" alt="image of space dog"></div>
<div class="column"><img class="thumbnail" src="https://placehold.it/75" alt="image of space dog"></div>
<div class="column"><img class="thumbnail" src="https://placehold.it/75" alt="image of space dog"></div>
<div class="column"><img class="thumbnail" src="https://placehold.it/75" alt="image of space dog"></div>
<div class="column"><img class="thumbnail" src="https://placehold.it/75" alt="image of space dog"></div>
<div class="column"><img class="thumbnail" src="https://placehold.it/75" alt="image of space dog"></div>
<div class="column"><img class="thumbnail" src="https://placehold.it/75" alt="image of space dog"></div>
<div class="column"><img class="thumbnail" src="https://placehold.it/75" alt="image of space dog"></div>
</div>
</div>
<div class="large-4 columns">
<h5>FLICKR IMAGES</h5>
<span class="secondary label">Space</span>
<span class="secondary label">Galaxies</span>
<span class="secondary label">Milky Way</span>
<span class="secondary label">Black Holes</span>
<span class="secondary label">Rebels</span>
<span class="secondary label">Death Star</span>
<span class="secondary label">Republic</span>
<span class="secondary label">R2D2</span>
</div>
<div class="large-4 columns">
<h5>RANDOM MAG</h5>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti quam voluptatum vel repellat ab similique molestias molestiae ea omnis eos, id asperiores est praesentium, voluptate officia nulla aspernatur sequi aliquam.</p>

</div>
</div>
<div class="row expanded">
<div class="medium-6 columns">
<ul class="menu">
<li><a href="#">Legal</a></li>
<li><a href="#">Partner</a></li>
<li><a href="#">Explore</a></li>
</ul>
</div>
<div class="medium-6 columns">
<ul class="menu align-right">
<li class="menu-text">Copyright &copy; 2017 Dice Media Group</li>
</ul>
</div>
</div>
</footer>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
<script>
      $(document).foundation();
    </script>
</body>
</html>
